/**
 * css for videojs-skin-nzherald
 * With the default plugins for postcss you can
 * - @import files, they will be inlined during build
 * - not worry about browser prefixes, they will be handled
 * - nest selectors. This follows the css specification that is
 *   currently out on some browsers. See https://tabatkins.github.io/specs/css-nesting/
 * - custom properties (aka variables) via the var(--var-name) syntax. See
 *   https://www.w3.org/TR/css-variables-1/
 */
.video-js.vjs-skin-nzherald.vjs-touch-enabled.vjs-hide-controls.vjs-playing.vjs-user-active .skip-buttons-container {
  display: none;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled.vjs-hide-controls.vjs-paused.vjs-user-active .skip-buttons-container {
  display: none;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled.vjs-hide-controls .vjs-control-bar {
  height: auto;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled.vjs-hide-controls .vjs-control-bar .vjs-current-time,
.video-js.vjs-skin-nzherald.vjs-touch-enabled.vjs-hide-controls .vjs-control-bar .vjs-time-control,
.video-js.vjs-skin-nzherald.vjs-touch-enabled.vjs-hide-controls .vjs-control-bar .vjs-duration,
.video-js.vjs-skin-nzherald.vjs-touch-enabled.vjs-hide-controls .vjs-control-bar .vjs-fullscreen-control {
  display: none;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled.vjs-playing.vjs-user-active .skip-buttons-container {
  display: block;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled.vjs-playing.vjs-user-inactive .skip-buttons-container {
  display: none;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled.vjs-ad-playing .skip-buttons-container {
  pointer-events: none;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled.vjs-ad-playing .vjs-skip-backward-button,
.video-js.vjs-skin-nzherald.vjs-touch-enabled.vjs-ad-playing .vjs-skip-forward-button {
  display: none;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled .vjs-skip-backward-button,
.video-js.vjs-skin-nzherald.vjs-touch-enabled .vjs-skip-forward-button {
  display: block;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled .skip-buttons-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled .skip-buttons-container .row {
  display: flex;
  flex-direction: row;
  width: 300px;
  align-items: center;
  justify-content: space-evenly;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled .vjs-play-control {
  order: 1;
  width: auto;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled .vjs-big-play-button .vjs-icon-placeholder {
  width: 2em;
  height: 2em;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled div.iris-skipBackward:before {
  content: url("data:image/svg+xml,%3Csvg width='38' height='39' viewBox='0 0 38 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='38' y='38.5' width='38' height='38' rx='19' transform='rotate(-180 38 38.5)' fill='black' fill-opacity='0.3'/%3E%3Cpath d='M12.3241 14.3515C12.3241 14.0753 12.548 13.8515 12.8241 13.8515L13.8782 13.8515C14.1543 13.8515 14.3782 14.0753 14.3782 14.3515L14.3782 25.6758C14.3782 25.9519 14.1543 26.1758 13.8782 26.1758L12.8241 26.1758C12.548 26.1758 12.3241 25.9519 12.3241 25.6758L12.3241 14.3515ZM23.8601 14.4079C24.1913 14.1741 24.6484 14.411 24.6484 14.8164L24.6484 25.2108C24.6484 25.6162 24.1913 25.8531 23.8601 25.6193L16.4974 20.4221C16.2152 20.2229 16.2152 19.8043 16.4974 19.6051L23.8601 14.4079Z' fill='white'/%3E%3C/svg%3E");
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled div.iris-skipForward:before {
  content: url("data:image/svg+xml,%3Csvg width='38' height='39' viewBox='0 0 38 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.5' width='38' height='38' rx='19' fill='black' fill-opacity='0.3'/%3E%3Cpath d='M24.6485 25.6756C24.6485 25.9518 24.4247 26.1756 24.1485 26.1756H23.0945C22.8183 26.1756 22.5945 25.9518 22.5945 25.6756V14.3513C22.5945 14.0752 22.8183 13.8513 23.0945 13.8513H24.1485C24.4247 13.8513 24.6485 14.0752 24.6485 14.3513V25.6756ZM13.1126 25.6192C12.7814 25.853 12.3242 25.6161 12.3242 25.2107V14.8163C12.3242 14.4109 12.7814 14.174 13.1126 14.4078L20.4753 19.605C20.7575 19.8042 20.7575 20.2228 20.4753 20.422L13.1126 25.6192Z' fill='white'/%3E%3C/svg%3E");
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled .vjs-paused .vjs-icon-placeholder {
  display: block;
  content: url("data:image/svg+xml,%3Csvg width='65' height='65' viewBox='0 0 65 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='65' height='65' rx='32.5' fill='black' fill-opacity='0.3'/%3E%3Cpath d='M24 43.0388C24 43.8883 24.9379 44.4032 25.6546 43.9471L41.4298 33.9083C42.0946 33.4852 42.0946 32.5148 41.4298 32.0917L25.6546 22.0529C24.9379 21.5968 24 22.1117 24 22.9612V43.0388Z' fill='white'/%3E%3C/svg%3E");
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled .vjs-playing .vjs-icon-placeholder {
  display: block;
  content: url("data:image/svg+xml,%3Csvg width='65' height='65' viewBox='0 0 65 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='65' height='65' rx='32.5' fill='black' fill-opacity='0.3'/%3E%3Cpath d='M26 21L26 45M39.5652 21L39.5652 45' stroke='white' stroke-width='3'/%3E%3C/svg%3E");
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled .vjs-big-play-button .vjs-icon-placeholder {
  content: url("data:image/svg+xml,%3Csvg width='65' height='65' viewBox='0 0 65 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='65' height='65' rx='32.5' fill='black' fill-opacity='0.3'/%3E%3Cpath d='M24 43.0388C24 43.8883 24.9379 44.4032 25.6546 43.9471L41.4298 33.9083C42.0946 33.4852 42.0946 32.5148 41.4298 32.0917L25.6546 22.0529C24.9379 21.5968 24 22.1117 24 22.9612V43.0388Z' fill='white'/%3E%3C/svg%3E");
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled .vjs-control:focus .iris-skipBackward:before {
  content: url("data:image/svg+xml,%3Csvg width='38' height='39' viewBox='0 0 38 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='38' y='38.5' width='38' height='38' rx='19' transform='rotate(-180 38 38.5)' fill='white' fill-opacity='0.3'/%3E%3Cpath d='M13.3515 13.3244C13.3515 13.0482 13.5753 12.8244 13.8515 12.8244L14.9055 12.8244C15.1817 12.8244 15.4055 13.0482 15.4055 13.3244L15.4055 24.6487C15.4055 24.9248 15.1817 25.1487 14.9055 25.1487L13.8515 25.1487C13.5753 25.1487 13.3515 24.9248 13.3515 24.6487L13.3515 13.3244ZM24.8874 13.3808C25.2186 13.147 25.6758 13.3839 25.6758 13.7893L25.6758 24.1837C25.6758 24.5891 25.2186 24.826 24.8874 24.5922L17.5247 19.395C17.2425 19.1958 17.2425 18.7772 17.5247 18.578L24.8874 13.3808Z' fill='white'/%3E%3C/svg%3E");
  position: relative;
  left: -0.063em;
  top: 0.063em;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled .vjs-control:focus .iris-skipForward:before {
  content: url("data:image/svg+xml,%3Csvg width='38' height='39' viewBox='0 0 38 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.5' width='38' height='38' rx='19' fill='white' fill-opacity='0.3'/%3E%3Cpath d='M24.6485 25.6756C24.6485 25.9518 24.4247 26.1756 24.1485 26.1756H23.0945C22.8183 26.1756 22.5945 25.9518 22.5945 25.6756V14.3513C22.5945 14.0752 22.8183 13.8513 23.0945 13.8513H24.1485C24.4247 13.8513 24.6485 14.0752 24.6485 14.3513V25.6756ZM13.1126 25.6192C12.7814 25.853 12.3242 25.6161 12.3242 25.2107V14.8163C12.3242 14.4109 12.7814 14.174 13.1126 14.4078L20.4753 19.605C20.7575 19.8042 20.7575 20.2228 20.4753 20.422L13.1126 25.6192Z' fill='white'/%3E%3C/svg%3E");
}

/**
 * styling customization for video title bar when paused
 */
.video-js.vjs-skin-nzherald .vjs-title-bar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 35.46%, rgba(0, 0, 0, 0) 100%);
  padding: 2.8em 10.2em;
}
.video-js.vjs-skin-nzherald .vjs-title-bar .vjs-title-bar-title {
  font-style: normal;
  font-weight: 900;
  font-size: 2.4em;
  line-height: 3em;
}
.video-js.vjs-skin-nzherald .vjs-title-bar .vjs-title-bar-description {
  display: none;
}
.video-js.vjs-skin-nzherald:not(.vjs-paused) .vjs-title-bar {
  display: none;
}
.video-js.vjs-skin-nzherald.vjs-layout-small.vjs-fullscreen.vjs-paused .vjs-title-bar {
  display: block;
  padding: 11em 3.2em;
}
.video-js.vjs-skin-nzherald.vjs-layout-small .vjs-title-bar {
  display: none;
}

div[id$=end-next-slate].iris-upnext {
  display: flex;
  flex-direction: row;
  bottom: unset !important;
  max-width: 8.625rem !important;
  min-width: 8.625rem !important;
  padding: 0 !important;
  top: 0.25rem !important;
  right: 0.25rem !important;
  background-color: transparent !important;
}
div[id$=end-next-slate].iris-upnext:hover {
  filter: none !important;
  -webkit-filter: none !important;
}
div[id$=end-next-slate] .iris-slate-image {
  order: 0;
  display: none !important;
}
div[id$=end-next-slate] .iris-slate-image .iris-slate-timer-container {
  display: none !important;
}
div[id$=end-next-slate] .iris-slate-image .iris-nzh-video-duration-label-image {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.1875rem;
  font-family: "Inter" !important;
  font-size: 0.5rem !important;
  line-height: 0.625rem !important;
  padding: 0.25rem !important;
  color: white;
  top: 0;
  left: 0;
}
div[id$=end-next-slate] .iris-slate-text-container {
  order: 1;
  position: relative;
  padding: 0 !important;
}
div[id$=end-next-slate] .iris-slate-text-container .iris-slate-text {
  display: none !important;
}
div[id$=end-next-slate] .iris-slate-text-container .iris-nzh-video-duration-label-description {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.1875rem;
  font-family: "Inter" !important;
  font-size: 0.5rem !important;
  line-height: 0.625rem !important;
  padding: 0.25rem !important;
  color: white;
  top: 0;
  left: 0;
}
div[id$=end-next-slate] .iris-slate-text-container h3 {
  display: -webkit-box !important;
  height: 2.75rem !important;
  max-width: 8.625rem !important;
  min-width: 8.625rem !important;
  font-family: "Inter" !important;
  font-weight: 500 !important;
  font-size: 0.5rem !important;
  line-height: 0.625rem !important;
  padding-left: 0 !important;
  letter-spacing: normal !important;
  word-spacing: normal !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.1875rem 0.1875rem 0 0;
  border-right: 1rem solid transparent !important;
  border-left: 2rem solid transparent !important;
  border-top: 0.5rem solid transparent !important;
  border-bottom: 0.5rem solid transparent !important;
}
div[id$=end-next-slate] .iris-slate-text-container .iris-nzh-play-button {
  position: relative;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  width: 8.625rem !important;
  height: 1.875rem !important;
  border-radius: 0 0 0.1875rem 0.1875rem !important;
  cursor: pointer;
}
div[id$=end-next-slate] .iris-slate-text-container .iris-nzh-play-button .btn {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  z-index: 888;
  border-radius: 0 0 0.1875rem 0.1875rem !important;
}
div[id$=end-next-slate] .iris-slate-text-container .iris-nzh-play-button .btn span {
  font-family: "Inter" !important;
  font-weight: 700 !important;
  font-size: 0.625rem !important;
  line-height: 0.75rem !important;
}
div[id$=end-next-slate] .iris-slate-text-container .iris-nzh-play-button .progress {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  z-index: 777;
  background: #38a3d7;
  opacity: 0;
  transition: all 0.3s ease;
  border-radius: 0 0 0.1875rem 0.1875rem !important;
}
div[id$=end-next-slate] .iris-slate-text-container .iris-nzh-play-button.active .progress {
  opacity: 1;
  animation: loading 7s ease 0s;
}

@media screen and (min-width: 577px) {
  div[id$=end-next-slate].iris-upnext {
    max-width: 15.375rem !important;
    min-width: 15.375rem !important;
    top: 1.75rem !important;
    right: 1.75rem !important;
  }
  div[id$=end-next-slate].iris-upnext .iris-slate-text-container .iris-nzh-video-duration-label-description {
    font-size: 0.75rem !important;
    line-height: 0.9375rem !important;
  }
  div[id$=end-next-slate].iris-upnext .iris-slate-text-container h3 {
    max-width: 15.375rem !important;
    min-width: 15.375rem !important;
    height: 3.875rem !important;
    -webkit-line-clamp: 2 !important;
    font-size: 0.75rem !important;
    line-height: 0.9375rem !important;
    border-right: 0.5rem solid transparent !important;
    border-left: 2.625rem solid transparent !important;
    border-top: 1rem solid transparent !important;
    border-bottom: 1rem solid transparent !important;
  }
  div[id$=end-next-slate].iris-upnext .iris-slate-text-container .iris-nzh-play-button {
    width: 15.375rem !important;
    height: 2.5rem !important;
  }
  div[id$=end-next-slate].iris-upnext .iris-slate-text-container .iris-nzh-play-button .btn span {
    font-size: 0.8125rem !important;
    line-height: 1rem !important;
  }
}
@media screen and (min-width: 835px) {
  div[id$=end-next-slate].iris-upnext {
    flex-direction: column;
    max-width: 14.6875rem !important;
    min-width: 14.6875rem !important;
    top: 2rem !important;
    right: 2rem !important;
  }
  div[id$=end-next-slate].iris-upnext .iris-slate-image {
    order: 0;
    display: block !important;
    width: 100% !important;
    height: 8.3125rem !important;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.1875rem 0.1875rem 0 0;
  }
  div[id$=end-next-slate].iris-upnext .iris-slate-image .iris-nzh-video-duration-label-image {
    font-size: 0.75rem !important;
    line-height: 0.9375rem !important;
  }
  div[id$=end-next-slate].iris-upnext .iris-slate-text-container {
    order: 1;
    width: 100% !important;
    height: 3.375rem !important;
    padding-right: 0 !important;
  }
  div[id$=end-next-slate].iris-upnext .iris-slate-text-container .iris-nzh-video-duration-label-description {
    display: none;
  }
  div[id$=end-next-slate].iris-upnext .iris-slate-text-container h3 {
    max-width: 14.6875rem !important;
    min-width: 14.6875rem !important;
    height: 3.375rem !important;
    border-right: 1rem solid transparent !important;
    border-left: 1rem solid transparent !important;
    border-top: 0.75rem solid transparent !important;
    border-bottom: 0.75rem solid transparent !important;
    border-radius: 0 0 0.1875rem 0.1875rem !important;
  }
  div[id$=end-next-slate].iris-upnext .iris-slate-text-container .iris-nzh-play-button {
    width: 100% !important;
    border-radius: 0.1875rem !important;
    height: 2.5rem !important;
    margin-top: 0.25rem !important;
  }
  div[id$=end-next-slate].iris-upnext .iris-slate-text-container .iris-nzh-play-button .btn,
  div[id$=end-next-slate].iris-upnext .iris-slate-text-container .iris-nzh-play-button .progress {
    border-radius: 0.1875rem !important;
  }
}
@keyframes loading {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  95% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
/**
 * styling customization for video ad ui
 */
.video-js.vjs-ad-playing .vjs-ad-control-bar .vjs-current-time,
.video-js.vjs-ad-playing .vjs-ad-control-bar .vjs-time-divider,
.video-js.vjs-ad-playing .vjs-ad-control-bar .vjs-duration,
.video-js.vjs-ad-playing .vjs-ad-control-bar .vjs-thumbs-up-button,
.video-js.vjs-ad-playing .vjs-ad-control-bar .vjs-thumbs-down-button,
.video-js.vjs-ad-playing .vjs-ad-control-bar .vjs-skip-backward-button,
.video-js.vjs-ad-playing .vjs-ad-control-bar .vjs-skip-forward-button {
  display: none !important;
}
.video-js.vjs-ad-playing .vjs-ad-control-bar .vjs-play-control {
  display: flex;
  order: 0;
}
.video-js.vjs-ad-playing .vjs-ad-control-bar .vjs-volume-panel {
  display: flex;
  order: 1 !important;
}
.video-js.vjs-ad-playing .vjs-ad-control-bar .vjs-ima-countdown.vjs-time-control {
  display: flex;
  order: 2;
  font-family: "Inter";
  font-size: rem(12);
  line-height: 2.5;
}
.video-js.vjs-ad-playing .vjs-ad-control-bar .vjs-custom-control-spacer {
  display: flex;
  order: 3;
}
.video-js.vjs-ad-playing .vjs-ad-control-bar .vjs-fullscreen-control {
  display: flex;
  order: 99;
}
.video-js.vjs-ad-playing .vjs-ad-control-bar .vjs-play-progress {
  background-color: rgb(220, 225, 226);
}
.video-js .vjs-ad-playing.vjs-touch-enabled .vjs-ima-countdown.vjs-time-control {
  padding: 0 rem(25);
}
@media screen and (max-width: 576px) {
  .video-js .vjs-ad-playing.vjs-user-inactive .vjs-control-bar {
    transform: translateY(rem(60)) !important;
  }
}

.video-js.vjs-skin-nzherald {
  /* This class is added to the video.js element by the plugin by default. */
  display: block;
  font-size: 0.625em;
  /* Control Bar */
  /* Progress Bar */
  /* Time */
  /* Volume */
}
.video-js.vjs-skin-nzherald .vjs-big-play-button {
  background-color: rgba(0, 0, 0, 0.5);
}
.video-js.vjs-skin-nzherald .vjs-control-bar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.video-js.vjs-skin-nzherald .vjs-control-bar .vjs-play-control {
  order: 1;
  margin-left: 1.2em;
}
.video-js.vjs-skin-nzherald .vjs-control-bar .vjs-skip-backward-button {
  order: 2 !important;
  margin-top: -0.01em;
}
.video-js.vjs-skin-nzherald .vjs-control-bar .vjs-skip-forward-button {
  order: 3 !important;
  margin-top: -0.01em;
}
.video-js.vjs-skin-nzherald .vjs-control-bar .vjs-volume-panel {
  order: 4;
}
.video-js.vjs-skin-nzherald .vjs-control-bar .vjs-time-control {
  padding: 0;
}
.video-js.vjs-skin-nzherald .vjs-control-bar .vjs-current-time {
  order: 5;
}
.video-js.vjs-skin-nzherald .vjs-control-bar .vjs-time-divider {
  order: 6;
}
.video-js.vjs-skin-nzherald .vjs-control-bar .vjs-duration {
  order: 7;
}
.video-js.vjs-skin-nzherald .vjs-control-bar .vjs-custom-control-spacer {
  order: 8;
}
.video-js.vjs-skin-nzherald .vjs-control-bar .vjs-fullscreen-control {
  order: 9;
  margin-right: 1.2em;
}
.video-js.vjs-skin-nzherald .vjs-control-bar .vjs-progress-control {
  padding-left: 2.4em;
  padding-right: 2.4em;
}
.video-js.vjs-skin-nzherald .vjs-control-bar div.iris-skipForward:before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 13.5C14 13.7761 13.7761 14 13.5 14H12.1667C11.8905 14 11.6667 13.7761 11.6667 13.5V0.5C11.6667 0.223857 11.8905 0 12.1667 0H13.5C13.7761 0 14 0.223858 14 0.5V13.5ZM0.788342 13.4435C0.457135 13.6773 0 13.4404 0 13.035V0.96496C0 0.559551 0.457135 0.322683 0.788342 0.556476L9.33798 6.59152C9.62019 6.79072 9.62019 7.20928 9.33798 7.40848L0.788342 13.4435Z' fill='white'/%3E%3C/svg%3E");
}
.video-js.vjs-skin-nzherald .vjs-control-bar div.iris-skipBackward:before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 13.5C0 13.7761 0.223858 14 0.500001 14H1.83333C2.10948 14 2.33333 13.7761 2.33333 13.5V0.5C2.33333 0.223857 2.10948 0 1.83333 0H0.5C0.223858 0 0 0.223858 0 0.5V13.5ZM13.2117 13.4435C13.5429 13.6773 14 13.4404 14 13.035V0.96496C14 0.559551 13.5429 0.322683 13.2117 0.556476L4.66202 6.59152C4.37981 6.79072 4.37981 7.20928 4.66202 7.40848L13.2117 13.4435Z' fill='white'/%3E%3C/svg%3E");
}
.video-js.vjs-skin-nzherald .vjs-control-bar .vjs-icon-placeholder:before {
  font-size: 2em;
  align-items: center;
  display: flex;
  justify-content: center;
}
.video-js.vjs-skin-nzherald .vjs-slider {
  background-color: rgba(255, 255, 255, 0.4);
}
.video-js.vjs-skin-nzherald .vjs-load-progress {
  background-color: #DCE1E2;
}
.video-js.vjs-skin-nzherald .vjs-play-progress {
  background-color: #38A3D7;
}
.video-js.vjs-skin-nzherald .vjs-time-control {
  line-height: 2.7em;
  font-size: 1.2em;
}
.video-js.vjs-skin-nzherald .vjs-volume-level {
  background-color: #333;
}
.video-js.vjs-skin-nzherald .vjs-progress-control {
  height: 0.3em;
  top: -0.3em;
}
.video-js.vjs-skin-nzherald .vjs-progress-control:hover {
  height: 0.5em;
  top: -0.5em;
}
.video-js.vjs-skin-nzherald:hover .vjs-big-play-button {
  background-color: rgba(171, 171, 171, 0.95);
}
.video-js.vjs-skin-nzherald .vjs-ad-control-bar .vjs-current-time,
.video-js.vjs-skin-nzherald .vjs-ad-control-bar .vjs-time-divider,
.video-js.vjs-skin-nzherald .vjs-ad-control-bar .vjs-duration {
  display: none;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled .vjs-control-bar {
  height: 5em;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled .vjs-control-bar .vjs-icon-placeholder:before {
  align-items: unset;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled .vjs-control-bar .vjs-progress-control {
  display: flex;
  top: auto;
  bottom: 1.6em;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled .vjs-control-bar .vjs-volume-panel {
  display: none;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled .vjs-control-bar .vjs-current-time, .video-js.vjs-skin-nzherald.vjs-touch-enabled .vjs-control-bar .vjs-time-divider, .video-js.vjs-skin-nzherald.vjs-touch-enabled .vjs-control-bar .vjs-duration {
  display: block;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled .vjs-control-bar .vjs-current-time {
  margin-left: 2em;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar:not(.vjs-focus-within):not(.vjs-control-bar-visible) {
  transform: translateY(5em);
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar:not(.vjs-focus-within):not(.vjs-control-bar-visible) .vjs-current-time,
.video-js.vjs-skin-nzherald.vjs-touch-enabled.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar:not(.vjs-focus-within):not(.vjs-control-bar-visible) .vjs-time-control,
.video-js.vjs-skin-nzherald.vjs-touch-enabled.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar:not(.vjs-focus-within):not(.vjs-control-bar-visible) .vjs-duration,
.video-js.vjs-skin-nzherald.vjs-touch-enabled.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar:not(.vjs-focus-within):not(.vjs-control-bar-visible) .vjs-fullscreen-control {
  display: none;
}
.video-js.vjs-skin-nzherald.vjs-touch-enabled.vjs-has-started.vjs-playing.vjs-user-inactive:not(.vjs-audio-only-mode) .vjs-progress-control {
  top: auto;
}

/*# sourceMappingURL=videojs-skin-nzherald.css.map */
